/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";

.formulario__input-error {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
display: block;
}


.formulario__grupo-incorrecto .formulario__label {
color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
color: #bb2929;
opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
border: 3px solid #bb2929;
}